{%extends "base.html"%}
{% from "jinja_macros/form.html" import form_field,form_button,form_title %}
{% from "jinja_macros/product_listing.html" import listing %}
{%block head%}
<script src="../../static/js/create_item.js"></script>
{%endblock%}
{%- macro form_field_with_on_event(label, name, type, on_event) -%}
<div class="field">
    <p class="label">{{label}}</p>
    <input class="input" type="{{type}}" id="{{name}}" placeholder="{{label}}" oninput="{{on_event}}">
</div>
{%- endmacro -%}
{%block content%}
<div class="columns is-centered">
    <div class="column  is-4">
        <div class="box">
            {{form_title("Create new product")}}

            <div class="center is-center">
                <b>Preview</b>
                <div class="center" style="width: 100%;">
                    <div class="card column is-9 is-center has-background-light">
                        <div class="card-header center">
                            <img id="preview_img" class="center" src="img_src" alt="Image for : name" width="124px">
                        </div>

                        <div class="card-content">
                            <h3>
                                <b id="preview_title">some_name</b>
                            </h3>
                            <p id="preview_price" ,class="price"> Price = some_price</p>

                        </div>
                    </div>
                </div>
            </div>
            <img id="preview" src="" alt="Image preview" style="width: 100%; height: 100%;">
            <div class="has-text-centered is-vertical">
                {{form_field_with_on_event("Image","image","text","update_preview()")}}
                {{form_field_with_on_event("Name","name","text","update_preview()")}}
                {{form_field_with_on_event("Price","price","text","update_preview()")}}
                {{form_field_with_on_event("Description","description","text","update_preview()")}}
                {{form_button("Create","submit_form()")}}
            </div>
        </div>
    </div>
</div>
<script>
</script>
{%endblock%}