{% extends "base.html" %}
{% from "jinja_macros/form.html" import
form_field,form_button,form_title,form_field_with_icon,form_field_with_icon_and_event %}
{% block head %}
    <script src="../../static/js/inventory.js"></script>
{% endblock %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box">
                {{ form_title("Create Category Group")}}
                <div class="has-text-centered is-vertical">
                    {{ form_field("Name","name","text")}}
                    {{ form_button("Create","submit_super_category()")}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
