{% extends "base.html" %}
{% from "jinja_macros/product_listing.html" import list_container %}
{% block head %}<link rel="stylesheet" href="../static/css/center_of_page.css">{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-2 is-fixed center">
            <p class="menu-label">Admin pages</p>
            <p class="menu-label">Users</p>
            <ul class="menu-list">
                <li>
                    <a href="/admin/make_admin">Make user admin</a>
                    <a href="/admin/manage_orders">Manage orders</a>
                </li>
            </ul>
            <p class="menu-label">Categories</p>
            <ul class="menu-list">
                <li>
                    <a href="/admin/create_super_category">Create a new category group</a>
                </li>
                <li>
                    <a href="/admin/create_category">Create a new category</a>
                </li>
                <li>
                    <a href="/admin/manage_categories">Manage all categories</a>
                </li>
            </ul>
            <p class="menu-label">Products</p>
            <ul class="menu-list">
                <li>
                    <a href="/admin/create_product">Create new product</a>
                </li>
            </ul>
            {% for group in category_groups %}
                <p class="menu-label">{{ group.name }}</p>
                <ul class="menu-list">
                    {% for category in group.categories %}
                        <li>
                            <a href="/category/{{ category }}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
