{% extends "base.html" %}
{% from "jinja_macros/product_listing.html" import list_container %}
{% block head %}<script src="../static/js/inventory.js"></script>{% endblock %}
{% block sidebar %}
    {% include "jinja_macros/sidebar.html" %}
{% endblock %}
{% block listings %}
    {% set ns = namespace(recommendations=get_recommendations_for_user(session["email"])) %}
    {% if ns.recommendations|length == 0 %}
        {% set ns.recommendations = top5_products() %}
    {% endif %}
    <div class="box has-background-grey-lighter" style="padding: -2em;">
        <div class="has-background-white">
            <p class="title">Recommended products</p>
            {{ list_container(ns.recommendations,bkgr="") }}
        </div>
    </div>
    {% if ns.recommendations|length < 4 %}
        <br/>
        <hr class="has-background-grey-lighter"
            style="outline:0;
                   border-top:1px solid gray"/>
    {% endif %}
    {{ list_container(items) }}
{% endblock %}
{% block pages %}
    <nav class="pagination is-centered"
         role="navigation"
         aria-label="pagination">
        <a class="pagination-previous" title = "First page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li>
                <a class="pagination-link is-current" aria-label="Goto page 1">1</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 2">2</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 3">3</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Page 5" aria-current="page">5</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 10">10</a>
            </li>
        </ul>
    </nav>
{% endblock %}
