{% extends "base.html" %}
{% from "jinja_macros/product_listing.html" import list_container, dropdown %}
{% block head %}
    <script src="../static/js/inventory.js"></script>
    <script src="../static/js/sort.js"></script>
{% endblock %}
{% block sidebar %}
    {% include "jinja_macros/sidebar.html" %}
{% endblock %}
{% block listings %}
    {% set ns = namespace(recommendations=get_recommendations_for_user(session["email"])) %}
    {% if ns.recommendations|length == 0 %}
        {% set ns.recommendations = top5_products() %}
    {% endif %}
    {% if ns.recommendations|length > 0 %}
        <div class="box has-background-grey-lighter" style="padding: -2em;">
            <div class="">
                <p class="title">Recommended products</p>
                {{ list_container(ns.recommendations) }}
            </div>
        </div>
        {% if ns.recommendations|length < 4 %}
        </div>
    </div>
    <hr class="{{ bkgr }}" style="outline:0; border-top:1px solid gray">
{% endif %}
{% endif %}
<p class="title">Product listings</p>
{{ dropdown()}}
{{ list_container(items[first_index : last_index]) }}
{{ pagination.links }}
{% endblock %}
