{% extends "base.html" %}
{% from "jinja_macros/product_listing.html" import list_container %}
{%block head%}
    <script src="../static/js/inventory.js"></script>
{%endblock%}
{% block sidebar %}
    {% include "jinja_macros/sidebar.html" %}
{% endblock %}
{% block listings %}

<div class="dropdown" style = "float:right;">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Sort after</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="javascript:sort('price_asc');" class="dropdown-item">
                Lowest price
            </a>
            <a href="javascript:sort('price_dsc');" class="dropdown-item">
                Highest Price
            </a>
            <a href="javascript:sort('name_asc');" class="dropdown-item">
                Name (A-Ö)
            </a>
            <a href="javascript:sort('name_dsc');" class="dropdown-item">
                Name (Ö-A)
            </a>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdown = document.querySelector('.dropdown');
        dropdown.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdown.classList.toggle('is-active');
        });
    });       
</script>


{{ list_container(items) }}

{% endblock %}
{% block pages %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" title = "First page" disabled>Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
      <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
      <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Page 5" aria-current="page">5</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 10">10</a></li>
    </ul>
</nav>
{% endblock %}