{% extends "base.html" %}
{% from "jinja_macros/product_listing.html" import list_container, dropdown %}

{%block head%}
    <script src="../static/js/inventory.js"></script>
    <script src="../static/js/sort.js"></script>
{%endblock%}
{% block sidebar %}
<p class="menu-label">
    <b>Profile</b>
</p>
<ul class="menu-list">
    <li>
        <a href="/user/profile">Profile</a>
    </li>
    <li>
        <a href="/user/orders">Orders</a>
    </li>
</ul>



<div class="menu-label">
    <b>Categories</b>
    <b class="control" id="filter" style="display: none;">
        <a class="button is-primary is-small is-outlined is-pulled-right" onclick="filter_categories()">
            <span>Filter</span>
        </a>
    </b>
</div>
{% for group in category_groups %}
<div style="padding-bottom:.5rem;">
    <div class="control" id="{{ group.name }}">
        <p class="menu-label has-icon-left" onclick="fold_away('{{ group.name }}')" id="header">
            <span class="icon is-small is-left" id="{{ group.name }}_icon">
                <i class="fa fa-caret-right"></i>
            </span>
            {{ group.name }}
        </p>
    </div>
    <div id="category_group_{{ group.name }}" style="display: none;">
        <ul class="menu-list">
            {% for category in group.categories %}
            <li class="has-icon-left has-text-primary has-text-centered">
                <span class="icon is-small is-left" style="padding: 1.5rem;">
                    <i class="fa fa-circle" id="{{ category.name }}_icon" style="display: none"></i>
                    <a id="{{ category.name }}_link" onclick="update_category('{{ category.name }}')">{{ category.name
                        }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<script>
    let categories = [{% for category in selected_categories %}"{{category}}"{% if not loop.last %}, {% endif %} {% endfor %}];
</script>
{% endblock %}

{% block listings %}

{{dropdown()}}

{{ list_container(items) }}{% endblock %}

{% block pages %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" title = "First page" disabled>Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
      <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
      <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Page 5" aria-current="page">5</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 10">10</a></li>
    </ul>
</nav>
{% endblock %}